version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672

  mysql:
    image: mysql:5.7
    hostname: mysql
    volumes:
        - ./data/db:/var/lib/mysql
    ports:
        - 3306:3306
    volumes: 
        - './.data/conf:/etc/mysql/conf.d'
    environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}

  usuariosservice:
      hostname: usuariosservice
      build: 
        context: ./UsuariosService
        dockerfile: Dockerfile
      ports:
        - 3002:3002


  frontend:
      hostname: frontend-hexagonal
      build: 
        context: ./frontend-hexagonal
        dockerfile: Dockerfile
      ports:
        - 3000:3000

